@use '../utilities/colors' as *;

@media (width >= 992px) {
	.header {
		background-image: url('../img/header-big.jpg');
	}

	.aboutus {
		&__question-mark {
			height: 83%;
		}
	}
}

.events {
	&__icon-crown {
		top: 6%;
		left: 3%;
		width: 6%;
		opacity: 0.787;
	}

	&__icon-silhouette {
		bottom: 13%;
		width: 23%;
		left: 74%;
		opacity: 0.3456;
	}
}

.party {
	.background-clip-sd {
		display: none;
	}

	.background-clip-hd {
		display: block;
	}
}
