@use '../utilities/colors' as *;

@media (width >= 768px) {
	.aboutus {
		&__question-mark {
			height: 48%;
		}

		&__slider {
			width: 80%;
			height: 40em;
			margin: 0 auto;
			border: 5px solid $light-purple-color;
			border-radius: 15px;
			box-shadow: 0 0 12px $light-purple-color;
		}
	}

	.offer {
		&__card {
			margin: 1em;
		}

		&__card-one,
		&__card-three,
		&__card-five {
			grid-column: 1/4;
		}

		&__card-two,
		&__card-four,
		&__card-six {
			grid-column: 4/7;
		}
	}

	.events {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 2em;

			&-img {
				width: 30%;
				height: 350px;

				&--right {
					order: 1;
				}
			}

			&-text {
				width: 60%;
			}
		}

		&__icon-crown {
			top: 5.5%;
			left: 4%;
			width: 6%;
			opacity: 0.787;
		}
	
		&__icon-silhouette {
			bottom: 13%;
			width: 38%;
			left: 47%;
			opacity: 0.3456;
		}
	}
}
