@media (width >= 576px) {
    .aboutus {

        &__slider {
            height: 30em;
        }


        &__question-mark {
            top: 20%;
            left: 10%;
        }
    }

    .events {
        &__icon-crown {
            top: 2%;
        }
    
        &__icon-silhouette {
            bottom: 7%;
        }
    }
}