@use './typography' as *;
@use '../utilities/colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    background-image: url('../img/tactile_noise.jpg');
	font-family: $rajdhani;
	color: $white-color;
}