.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section {
	position: relative;
	padding: 4em 2em;
    overflow: hidden;
}

.section-block {
	position: absolute;
	height: 100px;
	width: 100%;
	background-color: #333;
}

.section-block-left {
	bottom: 0;
	left: -10px;
	clip-path: polygon(0 42%, 100% 100%, 75% 100%, 0% 100%);
	// clip-path: polygon(0 0, 100% 100%, 75% 100%, 0% 100%);
}
.section-block-right {
	top: 0;
	right: -10px;
	clip-path: polygon(0 42%, 100% 100%, 75% 100%, 0% 100%);
	// clip-path: polygon(0 0, 100% 100%, 75% 100%, 0% 100%);
}
