@use '../utilities/colors' as *;
@use '../utilities/mixins' as *;
@use '../base/typography' as *;

// COMMON

.section-title {
	margin-bottom: 0.5em;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: $light-purple-color;

	.title-underline {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			bottom: 6px;
			left: 0;
			width: 120%;
			height: 1.5px;
			background-color: $light-purple-color;
		}
	}

	.title-underline-marks {
		position: relative;

		&::after {
			position: absolute;
			content: '??';
			font-size: 2.3rem;
			height: 100%;
			bottom: -10px;
			right: -23px;
		}
	}
}

// ABOUT US

.aboutus {
	position: relative;

	&__text {
		padding: 1em;
		font-size: 1.8rem;
	}

	&__question-mark {
		position: absolute;
		top: 27%;
		right: 32%;
		z-index: -1;
		height: 13%;
		opacity: 0.287;
		transform: rotate(15deg);
	}
}

// OFFER

.offer {
	position: relative;

	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-column: 1/7;
		padding: 0.5em 1em;
		margin: 1em 0;
		font-size: 1.8rem;
		@include border;
		text-align: center;
		transition: box-shadow 0.3s, border 0.1s;

		&-icon {
			position: absolute;
			top: -15px;
			background-image: url('../img/tactile_noise.jpg');
			padding: 0 1em;
			font-size: 2.5rem;
			color: $light-purple-color;
		}

		&-title {
			margin: 0.5em 0;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&:hover {
			border: 2px solid transparent;
			box-shadow: 0 0 15px $light-purple-color;
		}
	}
}

// EVENTS

.events {
	position: relative;

	&__box {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 4em 0;

		&-img {
			display: block;
			margin: 0 auto;
			height: 300px;
			width: 100%;
			object-fit: cover;
			box-shadow: 0 0 15px $violet-color;
			border-radius: 15px;
		}

		&-title {
			margin: 1em 0;
			font-size: 2rem;
			color: $light-purple-color;
		}

		&-text {
			font-size: 1.8rem;
		}
	}

	&__icons {
		position: absolute;
		z-index: -1;
	}

	&__icon-crown {
		top: 2.7%;
		left: 4%;
		width: 10%;
		opacity: 0.787;
	}

	&__icon-silhouette {
		bottom: 13%;
		width: 56%;
		left: 30%;
		opacity: 0.3456;
	}
}

// PARTY - VIDEO BACKGROUND

.party {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
	overflow: hidden;

	.background-clip {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	.background-clip-hd {
		display: none;
	}

	.party-text {
		font-family: $caveat;
		font-size: 6rem;
		text-decoration: none;
		color: $light-purple-color;
		cursor: pointer;
		z-index: 1;
	}

	.party-text:hover {
		text-shadow: 0 0 15px $light-purple-color;
	}
}

// REVIEWS

.reviews {

	&__container {
		padding: 2em 0;
	}
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		height: 120px;
		@include border;
		font-size: 1.4rem;

		&-img {
			position: absolute;
			top: 8%;
			left: 80%;
			transform: translate(-50%, -50%);

			img {
				width: 65px;
				height: 65px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		&-text {
			margin: 0.5em 0;
		}


	}
}
