@use '../utilities/colors' as *;

// COMMON

.section-title {
	margin-bottom: 1.5em;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: $light-purple-color;

	.title-underline {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			bottom: 6px;
			left: 0;
			width: 140%;
			height: 1.5px;
			background-color: $light-purple-color;
		}

		&::after {
			position: absolute;
			content: '???';
			font-size: 2.3rem;
			height: 100%;
			top: -15px;
			right: 0px;
		}
	}
}

// ABOUT US

.aboutus {
	position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

	&__text {
		font-size: 1.8rem;
	}

	// &__images {
    //     width: 50%;

	// 	img {
	// 		width: 30%;
	// 		height: 40%;
    //         object-fit: cover;
	// 	}
	// }

	img {
		position: absolute;
		top: 4%;
		right: 32%;
		z-index: -1;
		height: 17%;
		opacity: 0.4;
	}
}
