@use '../utilities/colors' as *;

// COMMON

.section-title {
	margin-bottom: 0.5em;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: $light-purple-color;

	.title-underline {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			bottom: 6px;
			left: 0;
			width: 120%;
			height: 1.5px;
			background-color: $light-purple-color;
		}
	}

	.title-underline-marks {
		position: relative;

		&::after {
			position: absolute;
			content: '??';
			font-size: 2.3rem;
			height: 100%;
			bottom: -10px;
			right: -23px;
		}
	}
}

// ABOUT US

.aboutus {
	position: relative;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__text {
		padding: 1em;
		font-size: 1.8rem;
	}

	&__slider {
		position: relative;
		width: 100%;
		height: 20em;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}

		.slide {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}

		.fade {
			opacity: 0; /* Initially hide all slides */
		}

		.active {
			opacity: 1; /* Show the active slide */
		}
	}

	&__question-mark {
		position: absolute;
		top: 27%;
		right: 32%;
		z-index: -1;
		height: 13%;
		opacity: 0.287;
		transform: rotate(15deg);
	}
}

// OFFER

.offer {
	position: relative;

	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-column: 1/7;
		padding: 0.5em 1em;
		margin: 1em 0;
		font-size: 1.8rem;
		border: 2px solid #4d4d4d;
		border-radius: 15px;
		text-align: center;

		&-icon {
			position: absolute;
			top: -15px;
			background-color: #333;
			padding: 0 1em;
			font-size: 2.5rem;
			color: $light-purple-color;
		}

		&-title {
			margin: 0.5em 0;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

// EVENTS

.events {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		height: 400px;
	}
}
